* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(../style/img/bgc.avif);
    background-size: cover;
    background-repeat: no-repeat;

    background-color: #111111;
    color: #FFFFFF;
    font-family: "Cormorant Garamond", serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
}

header {
    width: 1296px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    border-bottom: solid 1px #FFFFFF;
    width: 1296px;
    margin: auto;
    opacity: .5;
}

nav {
    display: flex;
    align-items: center;
    gap: 80px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav a:hover::after {
    content: '';
    background-color: #CDAA7D;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 25px;
}

nav a:hover {
    color: #CDAA7D;
}

.logo {
    margin: 0 40px;
}

.logo::after {
    content: '';
    opacity: 0;
}

main {
    flex: auto;
}

input {
    display: none;
}

.nav_contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    position: fixed;
    top: 0;
    right: 0;
    width: 475px;
    height: 100%;
    background-color: #111111;
    padding: 80px;
    z-index: 10;
    transform: translate(475px, 0px);
    transition: all linear .3s;
    border: 1px solid #ffffff83;

}

.nav_contacts label {
    position: absolute;
    top: 40px;
    left: 80px;
    cursor: pointer;

}

.nav_contacts ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.nav_contacts ul li:first-child {
    margin-bottom: 10px;
}

#menu:checked~.nav_contacts {
    transform: translate(0, 0px);
}

.menu:hover,
.logo:hover,
.instagram:hover {
    color: #CDAA7D;
    cursor: pointer;
}

.menu,
.instagram,
.logo {
    color: #FFFFFF;
}

.banner h1 {
    position: absolute;
    top: 280px;
    font-size: 72px;
    font-weight: 500;
    line-height: 86px;


}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.citata {

    width: 100%;
    font-size: 27px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 95px;
    position: absolute;
    top: 900px;


}

.citata p {

    width: 936px;
    text-align: center;


}



.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 40px;
    position: absolute;
    top: 1338px;
    left: 30px;
  
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url(../style/img/haircut.svg);
    width: 396px;
    height: 300px;
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 30px;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(../style/img/manic.svg);
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 30px;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url(../style/img/pedicure.svg);
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 30px;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(../style/img/cosmetics.svg);
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 30px;

}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(../style/img/massage.svg);
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 30px;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
    background-image: url(../style/img/makeup.svg);
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 30px;
}

.services p {
    margin-top: 330px;
}

.services-bg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 49px;
    grid-row-gap: 120px;
    position: absolute;
    left: 30px;
    top: -20px;
     z-index: -1;

}

.div7 {
    grid-area: 1 / 1 / 2 / 2;
    background: none;
    border: 1px solid #CDAA7D;
    width: 396px;
    height: 300px;
  
  
}

.div8 {
    grid-area: 1 / 2 / 2 / 3;
    background: none;
    border: 1px solid #CDAA7D;
}

.div9 {
    grid-area: 1 / 3 / 2 / 4;
    background: none;
    border: 1px solid #CDAA7D;
}

.div10 {
    grid-area: 2 / 1 / 3 / 2;
    background: none;
    border: 1px solid #CDAA7D;
}

.div11 {
    grid-area: 2 / 2 / 3 / 3;
    background: none;
    border: 1px solid #CDAA7D;
}

.div12 {
    grid-area: 2 / 3 / 3 / 4;
    background: none;
    border: 1px solid #CDAA7D;
}
.logos{
     width: 100%;
     display: flex;
     justify-content: space-around;
     margin-top: 158px;
}
.log1{
    background-image: url(../style/img/logo-1.svg);
    width: 69px;
    height: 108px;
    background-repeat: no-repeat;


}
.log2{
    background-image: url(../style/img/logo-2.svg);
    width: 90px;
    height: 120px;
    background-repeat: no-repeat;
}
.log3{
    background-image: url(../style/img/logo-3.svg);
    width: 190px;
    height: 108px;
    background-repeat: no-repeat;
}
.log4{
    background-image: url(../style/img/logo-4.svg);
    width: 110px;
    height: 108px;
    background-repeat: no-repeat;
}
.our-works{
    margin-top: 306px;
    text-align: center;
    
}
.our-works h2 {
    
        font-weight: 700;
        font-size: 48px;
    
}
.nav-2 {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 60px;
   
    
}
.nav-2 a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}
 .nav-2 a:hover{
    color: #CDAA7D;
    text-decoration: underline;
}
.photos{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

   .pic1{
    background-image: url(../style/img/work-1.svg);
    width: 400px;
    height: 400px;
   }
   .pic2{
    background-image: url(../style/img/work-2.svg);
    width: 400px;
    height: 400px;
   }
   .pic3{
    background-image: url(../style/img/work-3.svg);
    width: 400px;
    height: 400px;
   }
   .pic4{
    background-image: url(../style/img/work-4.svg);
    width: 400px;
    height: 400px;
   }
   .pic5{
    background-image: url(../style/img/work-5.svg);
    width: 400px;
    height: 400px;
   }
   .pic6{
    background-image: url(../style/img/work-6.svg);
    width: 400px;
    height: 400px;
   }
   .pic7{
    background-image: url(../style/img/work-7.svg);
    width: 400px;
    height: 400px;
   }
   .pic8{
    background-image: url(../style/img/work-8.svg);
    width: 400px;
    height: 400px;
   }
   .pic9{
    background-image: url(../style/img/work-9.svg);
    width: 400px;
    height: 400x;
   }
   footer{
    display: flex;
    margin-top: 2100px;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.575);
    border-bottom: 1px solid rgba(255, 255, 255, 0.575);
    padding: 80px;
    width: 90%;
    align-self: center;

    }
    .line{
        position: absolute;
        margin-top: 4440px;
        width: 90%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.575);
        align-self: center;
    }
    footer a {
        text-decoration: none;
        color: #FFFFFF;
    }
    .ourinst{
        position: absolute;
        margin-top: 30px;
        right: 280px;
      
    }
   






